[user]
	login = villasv
	email = mail@victor.villas
	name = Victor Villas

[core]
	excludesfile = ~/.gitignore
	editor = vim

[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '

[push]
	default = simple

[pull]
	rebase = true

[color]
	ui = true

